.Item{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--s-m);
  padding: var(--s-xs);
  border: var(--d-border);
  border-radius: var(--d-border-radius);
  background-color: var(--c-white);
  opacity: 0;
  transform: translateX(-100%);
  animation: .5s fadeIn forwards;
  animation-delay: var(--delay);
}

.Item__img{
  width: calc(45px + 0.5vw);
  height: auto;
}

@keyframes fadeIn{
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

