.Projects{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--s-l);
  padding: var(--s-xl) var(--s-l);
}

@media (max-width: 1024px){
  .Projects{
    grid-template-columns: repeat(2, 1fr);
    padding: unset;
  }
}

@media (max-width: 480px){
  .Projects{
    grid-template-columns: 1fr;
  }
}