.Header{
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  grid-area: 1 / 2 / 2 / 3;
  border: var(--d-border);
  border-width: 0 0 0 var(--d-border-width);
}

.Header__wrapper{
  width: 100%;
  max-width: unset;
  display: flex;
  flex-direction: column;
  gap: var(--s-xs);
  position: absolute;
  left: -50%;
  z-index: 10;
}

.Header-mobile{
  width: 100%;
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: solid var(--d-border-width) var(--d-border-color);
}

.Header__wrapper-mobile{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--s-l);
  padding: var(--s-xxs);
}