.Header{
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  grid-area: 1 / 2 / 2 / 3;
  border: var(--d-border);
  border-width: 0 0 0 var(--d-border-width);
}

.Header__wrapper{
  width: 100%;
  max-width: unset;
  display: flex;
  flex-direction: column;
  gap: var(--s-xs);
  position: absolute;
  left: -50%;
  z-index: 10;
}