.Footer{
  grid-area: 2 / 1 / 3 / 11;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--s-xxs) var(--s-l);
  border: var(--d-border);
  border-width: var(--d-border-width) 0 0 0;
}

.Footer__section{
  display: flex;
  align-items: center;
  gap: var(--s-s);
}

.Footer__link:hover{
  transform: translateY(-3px);
}

.Footer__link svg{
  width: auto;
  height: var(--s-l);
  object-fit: contain;
  fill: var(--c-black-1);
}

.Footer__link .Icon--Telegram svg{
  height: 25px;
}

.Footer__link .Icon--Mail svg{
  height: 20px;
}