:root{

  /* General Sizes */
  
  --s-xxs: .64rem;
  --s-xs: .8rem;
  --s-s: 1rem;
  --s-m: 1.25rem;
  --s-l: 1.563rem;
  --s-xl: 1.953rem;
  --s-xxl: 2.441rem;

  /* Font Size */

  --f-title: calc(var(--s-xl) + .5vw);
  --f-subtitle: calc(var(--s-m) + .5vw);
  --f-text: calc(var(--s-xxs) + .5vw);
  --f-customLink: calc(var(--s-xxs) + .5vw);
  --f-tag: calc(var(--s-xxs) + .2vw);

  /* Colors */

  --c-black: #1A1A1A;
  --c-black--15: #1a1a1a26;
  --c-black-1: #151514;

  --c-white: #F7F7F7;
  --c-white-1: #DAD9D7;

  --c-violet: #9168AD;

  --c-purple: #635FAD;
  --c-purple-1: #44408D;
  --c-purple-2: #36336F;
  
  --c-green: #A5E298;

  --c-yellow: #FBDBA2;

  /* Default Properties */

  --d-border-width: 3px;
  --d-border-color: var(--c-black-1);
  --d-border-radius: 5px;
  --d-border-radius-rounded: 50px;
  --d-border: solid var(--d-border-width) var(--d-border-color);
  
  --d-shadow: 0 0 25px var(--c-black--15); 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  transition: .3s;
  font-family: 'Nunito', sans-serif;
  list-style: none;
}

*::-webkit-scrollbar{
  width: 7px;
  background-color: var(--c-black--15);
}

*::-webkit-scrollbar-thumb{
  background: var(--c-purple);
  border-radius: var(--d-border-radius-rounded);
}

*::-webkit-scrollbar-thumb:hover{
  background: var(--c-purple-1);
}

*::-webkit-scrollbar-button{
  height: 5px;
  background-color: var(--c-white);
}

.App{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 9fr 1fr;
  grid-template-rows: 10fr 1fr;
  overflow: hidden;
}

@media (max-width: 768px){
  .App{
    grid-template-columns: 1fr;
    grid-template-rows: 10fr 1fr;
  }
}
